<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navbar :: navbar"/>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar"/>
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>이름</th>
                    <th>학번</th>
                    <th>학과</th>
                    <th>지역</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member : ${members}">
                    <td th:text="${member.id}"></td>
                    <td th:text="${member.name}"></td>
                    <td th:text="${member.address?.classNumber}"></td>
                    <td th:text="${member.address?.department}"></td>
                    <td th:text="${member.address?.location}"></td>
                    <td>
                        <a href="#" th:href="@{/members/{id}/edit (id=${member.id})}"
                           class="btn btn-primary" role="button">수정</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div> <!-- /container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>