<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div th:replace="fragments/navbar :: navbar" />
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성날짜</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice : ${noticeList}">
                <td th:text="${notice.id}"></td>
                <td><a th:text="${notice.title}" href="" th:href="@{'/noticeBoard/view/'+${notice.id}}"/></td>
                <td th:text="${notice.writeDate}"></td>
                <td>
                    <a href="" th:href="@{'/noticeBoard/cancel/'+${notice.id}}" class="btn btn-danger" th:onclick="">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav style="text-align: center">
            <ul class="pagination centered" style="display: inline-block"
                th:with="start=${T(Math).floor(noticeList.number/10)*10 + 1},
                    last=(${start + 9 < noticeList.totalPages ? start + 9 : noticeList.totalPages})">
                <li style="float: left" class="page-item">
                    <a class="page-link" th:href="@{/noticeBoard/list(page=1)}" aria-label="First">
                        <span aria-hidden="true">First</span>
                    </a>
                </li>

                <li style="float: left" th:class="${noticeList.first} ? 'page-item'">
                    <a class="page-link" th:href="${noticeList.first} ? '#' :@{/noticeBoard/list(page=${noticeList.number})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li style="float: left" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == noticeList.number + 1} ? 'page-item'">
                    <a class="page-link" th:text="${page}" th:href="@{/noticeBoard/list?(page=${page})}"></a>
                </li>

                <li style="float: left" th:class="${noticeList.last} ? 'page-item'">
                    <a class="page-link" th:href="${noticeList.last} ? '#' : @{/noticeBoard/list(page=${noticeList.number + 2})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>

                <li style="float: left" class="page-item">
                    <a class="page-link" th:href="@{/noticeBoard/list(page=${noticeList.totalPages})}" aria-label="Last">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>