<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div th:replace="fragments/sidebar :: sidebar"/>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>동아리명</th>
                <th>남은 가입가능인원수</th>
                <th></th>
            </tr>
            </thead>
            <tbody> <tr th:each="club : ${clubs}">
                <td th:text="${club.id}"></td>
                <td th:text="${club.name}"></td>
                <td th:text="${club.totalNumber}"></td>
                <td>
                    <a th:href="'javascript:deleteClub('+${club.id}+')'"
                       class="btn btn-danger">삭제</a>
                </td>
                <td>
                    <a th:href="'javascript:changeClub('+${club.id}+')'"
                       class="btn btn-danger">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
    function deleteClub(id) {
        if(confirm(id+"번 동아리를 삭제하시겠습니까?")){
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/clubs/" + id + "/delete");
            document.body.appendChild(form);
            form.submit();
        }

    }
    function changeClub(id) {
            var form = document.createElement("form");
            form.setAttribute("method", "get");
            form.setAttribute("action", "/clubs/" +id+ "/change");
            document.body.appendChild(form);
            form.submit();
    }


</script>
</html>