<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<!--<div th:replace="fragments/sidebar :: sidebar"/>-->
<div th:replace="fragments/navbar :: navbar"/>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar"/>
        <div class="col-md-10">
            <form th:action="@{/clubs/new}" th:object="${form}" method="post">
                <div class="form-group">
                    <label th:for="name">동아리명</label>
                    <input type="text" th:field="*{name}" class="form-control"
                           placeholder="이름을 입력하세요">
                </div>
                <div class="form-group">
                    <label th:for="price">총인원수</label>
                    <input type="number" th:field="*{totalNumber}" class="form-control"
                           placeholder="인원을 입력하세요">
                </div>
                <div class="form-group">
                    <label for="member">동아리장</label>
                    <select name="memberId" id="member" class="form-control">
                        <option value="">회장선택</option>
                        <option th:each="member : ${members}"
                                th:value="${member.id}"
                                th:text="${member.name}"/>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div> <!-- /container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>